{% extends 'navbar.html' %}
{% block content %}
{% load static %}
<h2 align="center">Display Books</h2>
<link href="{% static 'css/display.css' %}" rel="stylesheet">
<form method="post">
  {% csrf_token %}
<table align="center" border="2" class="table">
  <tr>
    <th>ID</th>
    <th> Book Name</th>
    <th>Author Name</th>
    <th>Course</th>
      <th>Update</th>
      <th>Delete</th>
  </tr>
    {% for i in data %}
       <tr>
           <td>{{i.id}}</td>
           <td>{{i.book_name}}</td>
           <td>{{i.author_name}}</td>
           <td>{{i.course_id}}</td>
           <td><a href="{% url 'update' i.id %}">update</a></td>
           <td><a href="{% url 'delete' i.id %}">delete</a></td>

       </tr>
    {% endfor %}
</table>
</form>
{% endblock %}