{% extends 'navbar2.html' %}
{% block content %}
{% load static %}
<h3 align="center">Issued Book Details</h3>
<link href="{% static 'css/issuedbkdata.css' %}" rel="stylesheet">
<table align="center" cellpadding="5" border="2" class="table">
  <tr>
    <th>ID</th>
    <th>Student Name</th>
    <th>Book Name</th>
    <th>Start Date</th>
    <th>End Date</th>
  </tr>
  {% for i in data %}
  <tr>
    <td>{{i.id}}</td>
    <td>{{i.std_name}}</td>
    <td>{{i.bk_name}}</td>
    <td>{{i.start_date}}</td>
    <td>{{i.end_date}}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}