{% extends 'navbar.html' %}
{% block content %}
{% load static %}
<h3 align="center">Update Issue Books</h3>
<link href="{% static 'css/updateissuebook.css' %}" rel="stylesheet">
<form method="post">
  {% csrf_token %}
  <table align="center" cellpadding="12" style="background-color:#2F4F4F;border:solid">
    <tr>
      <td>Student Name</td>
      <td><input type="text" name="tbsname" value="{{data.std_name}}"></td>
    </tr>
    <tr>
      <td>Book Name</td>
      <td><select name="ddlbname">
        <option selected>{{data.bk_name}}</option>
        {% for i in book %}
        <option>{{i.book_name}}</option>
        {% endfor %}
      </select></td>
    </tr>
    <tr>
      <td>Start Date</td>
      <td><input type="date" name="tbsdate" value="{{data.start_date}}"></td>
    </tr>
    <tr>
      <td>End Date</td>
      <td><input type="date" name="tbedate" value="{{data.end_date}}"></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" name="tbsubmit" value="submit"></td>
    </tr>
  </table>


</form>
{% endblock %}